<head>
	{% include site/head/texts.html %}
	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if site.name %}
  <meta name="author" content="{{ site.name }}">
  <meta name="copyright" content="&copy; {{ site.name }} {{ site.time | date: '%Y' }}">
  {% endif %}

  {% include site/head/styles.html %}

	{% include social/facebook-metatags.html %}
	{% include social/twitter-metatags.html %}
	{% include social/opensource-metatags.html %}

	{% include site/head/scripts.html %}
</head>
