---
layout: default
---
<div class="post">

	<div class="post-header-container {% if page.cover %}has-cover{% endif %}" {% if page.cover %}style="background-image: url({{ page.cover | prepend: site.baseurl }});"{% endif %}>
		<div class="scrim {% if page.cover %}has-cover{% endif %}">
			<header class="post-header">
				<h1 class="title">{{ page.title }}</h1>
				<h2 class="subtitle">{{ page.subtitle }}</h2>
				<p class="info">por <strong>{{ page.author }}</strong></p>
			</header>
		</div>
	</div>

	<div class="wrapper">

		<section class="post-meta">
			<div class="post-date">{% include post/date.html %}</div>
			<div class="post-categories">{% include post/minutes-to-read.html %}</div>
		</section>  
		
		<article class="post-content">
			{{ content }}
		</article>

		<div class="share">
			{% include social/facebook-button.html %}
			{% include social/twitter-button.html %}
		</div>
		
		{% include social/disqus-comments.html %}
											
	</div>
</div>
